#! === Example Environment Files ===
#! Style Guide: Value always in quotes.

# Base Github URL for the application. This is used for generating links
# like bug reports and documentation. Forks of Torii can change this to
# point to their own repositories.
GITHUB_REMOTE = "https://github.com/Anatoly03/Torii"
