# === Example Environment Files ===

# Sets environment variable "$DISPLAY". For multiple display environments,
# you can specify the display to use for the running application. This is
# useful when you have multiple monitors or when running the application
# in a headless environment.
#+ignore
DISPLAY = ":0"

# Base Github URL for the application. This is used for generating links
# like bug reports and documentation. Forks of Torii can change this to
# point to their own repositories.
GITHUB_REMOTE = "https://github.com/Anatoly03/Torii"
